body {
  background-color: #dcdcdc;
}

.logo {
  flex-basis: 15%;
  margin: 0;
}
.logo img {
  transition: transform 0.5s ease;
  overflow: hidden;
}

.logo img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
